body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table {
    border: 1px #000 solid;
    width: 100%;
    border-collapse: collapse;
}

tr:hover td {
    background: #e2e2e2;
}

tr.hidden {
    display: none !important;
}

td, th {
    border: 1px #000 solid;
    padding: 10px;
}

td.center {
    text-align: center;
}

div.activeFlag {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: inline-block;
}

div.activeFlag.active {
    background: #1b9d46;
}

div.activeFlag.inactive {
    background: #9d1b1b;
}

div.checkView {
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    background: #ccc;
    cursor: pointer;
    border-radius: 50%;
    display: inline-block;
}

label.showActiveLabel {
    padding: 10px;
}